<% if @reb %>
	<h1><%= @user.username %> Reblogged:</h1>
	<div id="blog">
		<h6>originally posted by: <a href="/<%= @reb.original_post.user.username %>"> <%= @reb.original_post.user.username %></a></h6>
		<h2><%= @reb.original_post.title %></h2>
		<% if @reb.original_post.mediaurls %>
			<% @reb.original_post.mediaurls.each do |media| %>
			<% if media.media_type == 'picture' %>
				<img src='<%= media.url %>'></img>
			<% elsif media.media_type == 'youtube' %>
			<!-- 	<div class="flex-video"> -->
	        			<iframe width="400" height="225" src="//www.youtube.com/embed/<%= media.url %>" frameborder="0" allowfullscreen></iframe>
			<!-- 	</div> -->
			<% elsif media.media_type == 'vimeo' %>
				<!-- <div class="flex-video"> -->
	        			<iframe src="http://player.vimeo.com/video/<%= media.url %>" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	        	<!-- </div> -->
	        <% elsif media.media_type == 'vine' %>
	        	<iframe src="https://vine.co/v/<%= media.url %>/embed/simple" width="400" height="225" frameborder="0"></iframe><script src="https://platform.vine.co/static/scripts/embed.js"></script>
	        <% end %>
			<%end%>
		<%end%>
	        <p><%= @reb.original_post.content %></p>
	        <a href="/<%= @reb.original_post.user.username %>/posts/<%= @reb.original_post.id %>">Comment</a>&nbsp&nbsp<a href='/reblogs/<%= @reb.original_post.id %>/confirm'>Reblog</a>
	</div>
<% elsif @error %>
	<h1 style='color: red'><%= @error %></h1>
<%end%>