
<h3>Create a new picture post</h3>
<%= form_tag("/new-text-post", method: "post") do %>
 	 <%= text_field_tag(:'title', nil, placeholder: "title") %>
 	 <%= text_area_tag(:id =>'content', :class => "form-text-area", nil, placeholder: "post") %>
	 <%= text_field_tag(:'tags',nil, placeholder: "tags") %>
  <%= submit_tag("submit") %>
<% end %>
