<div class="new-post-form">
<h3>Create a new video post</h3>
<%= form_tag("/posts/video", method: "post") do %>
	Post to: <%= select("post-to-options", "selected") do %>
	 <% @target_options.each do |t|%>
	  <%=  content_tag(:option, t.name, value: t.id.to_s + "-" + t.class.to_s )%>
	 <% end%>
	<% end%>
 	 <%= text_field_tag(:'title', nil, placeholder: "title") %>
 	 <%= text_field_tag(:'video_url', nil, placeholder: "video URL") %>
 	 <%= text_area_tag(:'content',nil, placeholder: "caption",class: "text-area") %>
	 <%= text_field_tag(:'tags',nil, placeholder: "tags (separated by commas!)") %>
    <%= submit_tag("submit", class: "button") %>
<% end %>
</div>