<div class="new-post-form">

<h3>Create a new text post</h3>
<%= form_tag("/posts/text", method: "post") do %>
 	 <%= text_field_tag(:'title', nil, placeholder: "title") %>
 	 <%= text_area_tag(:'content',nil, placeholder: "post",class: "text-area") %>
	 <%= text_field_tag(:'tags',nil, placeholder: "tags") %>
  <%= submit_tag("submit", class: "button") %>
  <% end %>
  </div>