<div class="large-6 columns" id="blog"><h3><%= @post.title %></h3>
<% @post.mediaurls.each do |media| %>
	 	<% if media.media_type == 'picture' %>
			<img src='<%= media.url %>'></img>
		<% elsif media.media_type == 'youtube' %>
		<!-- 	<div class="flex-video"> -->
        			<iframe width="400" height="225" src="//www.youtube.com/embed/<%= media.url %>" frameborder="0" allowfullscreen></iframe>
		<!-- 	</div> -->
		<% elsif media.media_type == 'vimeo' %>
			<!-- <div class="flex-video"> -->
        			<iframe src="http://player.vimeo.com/video/<%= media.url %>" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        	<!-- </div> -->
        <% end %>
<% end %>
<p><%= @post.content %></p>
</div>

<div class="comments large-12 columns page-center"><b>Comments</b><br>
<div class="comments large-12 columns print-comments"></div>
<div class="large-12 columns comment-form">
<h4>Add a comment</h4>
<%= form_tag("/" +@post.user.username + "/posts/" + @post.id.to_s + "/comments" , method: "post") do %>
 	 <%= text_area_tag(:'body',nil, placeholder: "comment") %>
  <%= submit_tag("submit", class: "button small") %>
  <% end %>
</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
<script type="text/template" class="comments-template"><div class="large-12 columns comment-box"><a href="/{{username}} "> {{username}}</a>:<br> {{body}} <br></div></script>
<script>
$(document).ready(function(){
	_.templateSettings = {
		interpolate: /\{\{(.+?)\}\}/g
		};
	$.get("/" + "<%= @post.user.username %>" + "/posts/" + <%= @post.id %> + "/comments", function (comments){
		var template = _.template($('.comments-template').html())
		_.each(comments, function (c){
			$('.print-comments').append(template(c))
		})
	})
})		
</script>