<h3><%= @post.title %></h3>
<% @post.mediaurls.each do |media| %>
	 	<% if media.media_type == 'picture' %>
			<img src='<%= media.url %>'></img>
		<% elsif media.media_type == 'youtube' %>
		<!-- 	<div class="flex-video"> -->
        			<iframe width="400" height="225" src="//www.youtube.com/embed/<%= media.url %>" frameborder="0" allowfullscreen></iframe>
		<!-- 	</div> -->
		<% elsif media.media_type == 'vimeo' %>
			<!-- <div class="flex-video"> -->
        			<iframe src="http://player.vimeo.com/video/<%= media.url %>" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        	<!-- </div> -->
        <% end %>
<% end %>
<p><%= @post.content %></p>
<b>Comments</b><br>
<% @comments.each{ |c| %>
	<a href= <%= "/" + c.user.username %>> <%= c.user.username%></a>: 
	<%= c.body %><br>
<% } %>
<h4>Add a comment</h4>
<%= form_tag("/posts/" + @post.id.to_s + "/comments" , method: "post") do %>
 	 <%= text_area_tag(:'body',nil, placeholder: "comment") %>
  <%= submit_tag("submit") %>
  <% end %>


<script src="https://code.jquery.com/jquery-2.1.3.js"></script>

<script>
	$.get("/posts/" + <%= @post.id %> + "/comments", function (comments){
		comments.forEach(function (c){
			console.log(c.body)
		})
		
	})//end get
</script>