<h1><%= @user.username %></h1>

<% @posts.each do |post| %>
	<h2><%= post.title %></h2>
	<h3><%= post.content %></h3>
	<% post.mediaurls.each do |media| %>
		<% if media.media_type == 'picture' %>
			<img src='<%= media.url %>'></img>
		<% elsif media.media_type == 'youtube' %>
			<div class="flex-video">
        			<iframe width="420" height="315" src="//www.youtube.com/embed/<%= media.url %>" frameborder="0" allowfullscreen></iframe>
			</div>
		<% elsif media.media_type == 'vimeo' %>
			<div class="flex-video">
        			<iframe src="http://player.vimeo.com/video/<%= media.url %>" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        	</div>
        <% end %>
    <% end %>

	
<% end %>




