<h1><%= @user.username %></h1><br>

<div class='showpost'>
<% if current_user && current_user.username != @user.username %>
	<% if !current_user.subscribees.include?(@user) %>
		<a href='/<%= @user.username %>/subscribe'>follow</a><br>
	<% elsif current_user.subscribees.include?(@user) %>
		<h6>Following this user</h6>
	<% end %>
<% end %>	
	

</div>
<button type='submit' id='more'>Show more posts</button>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" src="../assets/convert.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
<!-- <script type="text/html" src="../assets/javascripts/post_print_templates.html.erb"></script> -->
<script type="text/template" class="op-text-temp">
	<div id="blog">
	<h2>{{= title }}</h2>
	<p>{{= content }}</p>
	<a href="/<%= @user.username %>/posts/{{= id }}">Comment</a> | <a href='/reblogs/{{= id }}/confirm'>Reblog</a><br>
		<div class="tags">
		Tags: {{ _.each(tags, function(tag, i){ }}
			{{ if(i == tags.length - 1){ }}
			<a href='{{= tag }}'> {{= tag }} </a>
			{{ } else { }}
			<a href='{{= tag }}'> {{= tag }}</a>,
		{{ } }) }}
		</div>
	</div>
</script>
<script type="text/template" class="op-picture-temp">
	<div id="blog">
	<h2>{{= title }}</h2>
		<img src='{{ media_url.url }}'></img>
	<p>{{= content }}</p>
	<a href="/<%= @user.username %>/posts/{{= id }}">Comment</a>&nbsp&nbsp<a href='/reblogs/{{= id }}/confirm'>Reblog</a><br>
	<div class="tags">
		Tags: {{ _.each(tags, function(tag, i){ }}
			{{ if(i == tags.length - 1){ }}
			<a href='{{= tag }}'> {{= tag }} </a>
			{{ } else { }}
			<a href='{{= tag }}'>{{= tag }}</a> + ","
		{{ } }) }}
		</div>
	</div>
</script>
<script type="text/template" class="rb-text-temp">
	<div id="blog">
	<h6>originally posted by: <a href="/{{= original_user }}">{{= original_user }}</a></h6>
	<h2>{{= original_post.title }}</h2>
	<p>{{= original_post.content }}</p>
	<a href="/{{= original_user }}/posts/{{= original_post.id }}">Comment</a> | <a href='/reblogs/{{= id }}/confirm'>Reblog</a><br>
		<div class="tags">
		Tags: {{ _.each(tags, function(tag, i){ }}
			{{ if(i == tags.length - 1){ }}
			<a href='{{= tag }}'>{{= tag }}</a>
			{{ } else { }}
			<a href='{{= tag }}'>{{= tag }}</a> + ", "
		{{ } }) }}
		</div>
	</div>
</script>

<script>
$(document).ready(function() {
	_.templateSettings = {
	    interpolate: /\{\{\=(.+?)\}\}/g,
	    evaluate: /\{\{(.+?)\}\}/g
	};
	var offset = 0;
	var print_posts = function (posts){		
		var op_text_template = _.template($('.op-text-temp').html());
		var op_picture_template = _.template($('.op-picture-temp').html());
		var rb_text_template = _.template($('.rb-text-temp').html());
		_.each(posts, function (p){
				console.log(p.class)
			if (p.class === "OriginalPost"){
			 	if (p.post_type === "text"){
			 		$('.showpost').append(op_text_template(p))	
			 	}
			 	else if (p.post_type === "picture"){}
			 	else if (p.post_type === "video"){
			 		if (p.media_url[0].media_type === "youtube"){}
			 		else if (p.media_url[0].media_type === "vimeo"){}
			 		else if (p.media_url[0].media_type === "vine"){}
			 	}
			 	else if (p.post_type === "audio"){}
			// $('.showpost').append(op_template(p))	
			}
			else if (p.class === "Reblog"){
				console.log("reblog detected")
				if (p.original_post.post_type === "text"){
					console.log("text reblog detected")
					$('.showpost').append(rb_text_template(p))	
				}
			 	else if (p.post_type === "picture"){}
			 	else if (p.post_type === "video"){
			 		if (p.media_url[0].media_type === "youtube"){}
			 		else if (p.media_url[0].media_type === "vimeo"){}
			 		else if (p.media_url[0].media_type === "vine"){}
			 	}
			 	else if (p.post_type === "audio"){}
			// $('.showpost').append(rb_template(p))	
			}
		}) //end _.each
	}//end print_posts

	$.ajax({type: 'GET',
			url: '/<%= @user.username %>/json/' + offset
		}).done(function (posts) {	
			console.log(posts)
			print_posts(posts);
		})
	})		  

	
</script>




