<div class="signin-title-splash large-offset-2 large-8 columns">
<div style="font-weight: bold">PillowFort</div>
  <p style="font-size: 50%">Welcome to everything you love.</p>
</div>


<div class="signin-float large-offset-4 large-4 columns">
<h5 style="text-align: center">Sign in</h5>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <div class="row collapse">
      <div class="small-3 large-2 columns">
        <span class="prefix">email</span>
      </div>
      <div class="small-9 large-10 columns">
        <input autocomplete="off" type="text" name="user[email]" id="user_email">
      </div>
    </div>
  </div>

  <div class="field">
    <div class="row collapse">
      <div class="small-3 large-2 columns">
        <span class="prefix">password</span>
      </div>
      <div class="small-9 large-10 columns">
       <input autocomplete="off" type="password" name="user[password]" id="user_password">
      </div>
    </div>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions" style="text-align: center">
    <%= f.submit "sign in", class: "button small" %>
  </div>
  <% end %>


  <div class="devise-links" style="margin-left: 0px; text-align: center">
    <%= render "devise/shared/links" %>
  </div>
</div>

<div class="signin-bg-images">

    <%= image_tag "signin-bg-3.jpg" %>

</div>
