<div class="user-sidebar">
	<div class="sb-section sb-header"><a href="/<%=@user.username%>/profile"><%=@user.username%></a>
	<% if current_user && current_user.username != @user.username %>
		<% if !current_user.subscribees.include?(@user) %>
		<a href='/<%= @user.username %>/subscribe'><i class="fa fa-check-circle-o"></i></a><br>
		<% elsif current_user.subscribees.include?(@user) %>
		<a><i class="fa fa-check-circle"></i></a>
		<% end %>
	<% end %>	</div>
	<div class="sb-section">
		<a href="#" class="sb-link-icon"><%= @user.original_posts.length%></a> original posts
	</div>
	<div class="sb-section">
		<a href="#" class="sb-link-icon"><%= @user.reblogs.length %></a> reblogs
	</div>
	<div class="sb-section">
		<a href="#" class="sb-link-icon"><i class="fa fa-calendar"></i></a> archive
	</div>
	<div class="sb-section">
		<a href="#" class="sb-link-icon"><i class="fa fa-paper-plane-o"></i></a> message
	</div>
</div>	
	

<div class='showposts'>
<!-- all posts go here -->
</div>


<div class="large-offset-5 large-2 columns"><button type='submit' id='more'>Show more posts</button></div>

<%= render partial: "post_templates" %>

<script>
$(document).ready(function() {
	_.templateSettings = {
	    interpolate: /\{\{\=(.+?)\}\}/g,
	    evaluate: /\{\{(.+?)\}\}/g
	};

	var offset = 0;

	var print_posts = function (posts){		
		var op_template = _.template($('.op-temp').html());
		var rb_template = _.template($('.rb-temp').html());

		_.each(posts, function (p){
			if (p.class === "OriginalPost"){	 	
			 	$('.showposts').append(op_template(p));	
			} 
			else if (p.class === "Reblog"){
				$('.showposts').append(rb_template(p));			
			}
		}) //end _.each
	}//end print_posts

	$.ajax({type: 'GET',
			url: '/<%= @user.username %>/json/' + offset
		}).done(function (posts) {	
			print_posts(posts);
	}) //end get
})
	
</script>




