
<% if @is_member%>
<p>You are a member of this group! | <a href="/">Post an entry to this community</a></p>
<% else %>
<div class="joinLinkDiv"><button data-reveal-id="joinModal">Join!</button></div>
	<div id="joinModal" class="reveal-modal" data-reveal>
	  <p>Are you sure you want to join this community?</p>
	  <button class="joinCommunity">Yep!</button>
	  <a class="close-reveal-modal">&#215;</a>
	</div>
<% end %>

<div class="community-container large-12 columns">
	<div class="forumbox">
	 <div class="forum-topbar">
	 	DISCUSSION
		 <div class="forum-topbar-buttons">
		  	<a href="/communities/<%= @comm.id.to_s %>/forum-post">
		  		<i class="fa fa-plus "></i>
		  	</a>			
	 	</div>
	 </div>
	 </div>
	<div class="comm-media-feed">

	</div>
</div>



<%= render partial: "comm_post_temps" %>

<script type="text/template" class="forum-temp">
<div class="forum-listing">
	<div class="forum-title">
	<a href="/{{=username}}">{{=username}}</a>: <b>{{=title}}</b></div>
	<div class="forum-body-preview">
	<div class="forum-thread-details">
			<a href="#"><i class="fa fa-comments fa-lg"></i> 0</a>
		</div>
		{{=body}}

	</div>
</div>
</script>

<script>
	$(document).ready(function(){
	_.templateSettings = {
	    interpolate: /\{\{\=(.+?)\}\}/g,
	    evaluate: /\{\{(.+?)\}\}/g
	};
	var offset = 0;
	var print_posts = function (posts){		
		var op_text_template = _.template($('.op-text-temp').html());
		var op_picture_template = _.template($('.op-picture-temp').html());
		var op_video_template = _.template($('.op-video-temp').html());
		var rb_text_template = _.template($('.rb-text-temp').html());
		var rb_picture_template = _.template($('.rb-picture-temp').html());
		_.each(posts, function (p){
			if (p.class === "OriginalPost"){
			 	if (p.post_type === "text"){
			 		$('.comm-media-feed').append(op_text_template(p))
			 	}
			 	else if (p.post_type === "picture"){
			 		$('.comm-media-feed').append(op_picture_template(p))	
			 	}
			 	else if (p.post_type === "video"){
					$('.comm-media-feed').append(op_video_template(p))
			 	}
			 	else if (p.post_type === "audio"){
					// $('.showpost').append(op_audio_template(p))	
				}
			} //end original post
			else if (p.class === "Reblog"){
				if (p.original_post.post_type === "text"){
					$('.comm-media-feed').append(rb_text_template(p))	
				}
			 	else if (p.original_post.post_type === "picture"){
			 		$('.comm-media-feed').append(rb_picture_template(p))
			 	}
			 	else if (p.original_post.post_type === "video"){
	
			 	}
			 	else if (p.original_post.post_type === "audio"){}
				
			}// end reblog
		}) //end _.each
	}//end print_posts

	var print_forum = function (posts){	
		var forum_template = _.template($('.forum-temp').html());
		_.each(posts, function(p){
			console.log(p)
			$('.forumbox').append(forum_template(p));
		})
	}


	$.ajax({type: 'GET',
			url: '/communities/<%= @comm.name %>/posts-json/'
		}).done(function (posts) {	
			print_posts(posts);
		})

	$.ajax({type: 'GET',
			url: '/communities/<%= @comm.name %>/forum-json/'
		}).done(function (posts) {	
			print_forum(posts);
		})

$(document).on('click','.joinCommunity', function(){
			$.post("/communities/<%= @comm.name%>/join").done(function(){
				$('.joinLinkDiv').text("You are a member of this group!")
			})

		})

$('#newPostModal').data('reveal-init', {
    animation: 'fadeAndPop',
    animation_speed: 250,
    close_on_background_click: false,
    close_on_esc: false,
    dismiss_modal_class: 'close-reveal-modal',
    bg_class: 'reveal-modal-bg',
    bg : $('.reveal-modal-bg'),
    css : {
        open : {
            'opacity': 0,
            'visibility': 'visible',
            'display' : 'block'
        },
        close : {
            'opacity': 1,
            'visibility': 'hidden',
            'display': 'none'
        }
    }
});

$('.newPostModalLink').on('click',function(){
	console.log("click")
	$('#newPostModal').foundation('reveal', 'open');
});

})//doc ready
</script>