<!DOCTYPE html>

<head>
  <title><%= @current_page %></title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>


    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  </head>

  <body>  
<div class="fixed">
  <nav class="top-bar" data-topbar role="navigation" >
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">SHINJI</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <% if current_user %>
        <li>Signed in as <span class="navbar-username"><a href="/<%= current_user.username %>"><%= current_user.username %></a></span></li>
        <li><%= link_to "Sign Out", signout_path %></li>
      <% else %>
        <li><%= link_to "Sign In", new_user_session_path %></li>
      <% end %>  
      <li class="navbar-collapse-button"><a href="#" class="navbar-collapse-link"><i class="fa fa-caret-square-o-left fa-2x"></i></a></li>
      </ul>
    </ul>
    <!-- Left Nav Section -->
    <ul class="left">
   <!--    <li><a href="#">Left Nav Button</a></li> -->
  <% if current_user %>
   <li class="has-dropdown not-click">
        <a href="#">Post!</a>
        <ul class="dropdown">
          <li><a href="/posts/text"><i class="fa fa-font fa-2x"></i></a></li>
          <li><a href="/posts/picture"><i class="fa fa-picture-o fa-2x"></i></a></li>
          <li><a href="/posts/video"><i class="fa fa-film fa-2x"></i></a></li>      
          <li><a href="/posts/audio"><i class="fa fa-music fa-2x"></i></a></li>
        </ul>
      </li>
    <li class="has-dropdown not-click">
        <a href="#">Your Communities</a>
        <ul class="dropdown user-communities">
        </ul>
    </li>    
    <li class ="navbar-pagetitle"></li>
    </ul>
    <% end %>
  </section>
</nav>
</div>

<div class="large-12 columns yield">
    <%= yield %>
</div>


</body>

<% if current_user %>
  <%= render partial: 'layouts/get_communities' %>
<% end %>

<script type="text/javascript">
$(document).ready(function(){


})

</script>

</html>
